<div class="ui small modal scrolling" id='<%= "payModal_#{srvice.id}" %>'>
  <div class="header">
    <h4 class="text-center h1">
      <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color:blue"></span>
      <%= srvice.id %> - <%= srvice.ground_name %>
    </h4>
  </div>
  <div class="content">
    <%= form_tag(pay_services_path, remote: true)  do %>
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">Thanh toán phí chung</div>
            <div class="panel-body">
              <div class="form-horizontal">
                <%= hidden_field_tag 'ground_id', srvice.id %>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Nợ</label>
                  <div class="col-sm-5">
                    <p class="form-control-static text-right">
                      <%= number_to_vnd(srvice.debt) %>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Phí</label>
                  <div class="col-sm-5">
                    <p class="form-control-static text-right">
                      <%= number_to_vnd(srvice.fee) %>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Đã trả</label>
                  <div class="col-sm-5">
                    <p class="form-control-static text-right">
                      <%= number_to_vnd(srvice.paid) %>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Còn</label>
                  <div class="col-sm-5">
                    <p class="form-control-static text-right">
                      <%= number_to_vnd(srvice.remain) %>
                    </p>
                  </div>
                </div>
                <hr/>
                <div class="form-group" id="given_money_<%= srvice.id %>">
                  <label class="col-sm-4 control-label">Nhập tiền</label>
                  <div class="col-sm-5">
                    <%= text_field_tag :given_money, '', class: 'form-control text-right' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right floated four wide column actions">
          <input type='submit' value="Thanh toán" class="ui green button" >
        </div>
      </div>
    <% end %>
  </div>
</div>
