<%= render 'layouts/sidebarmanager' %>
<%= render 'layouts/topnav' %>
<div class="right_col" role="main" style="min-height: 1575px;">
  <div id="layout-messages">
    <%= render 'layouts/messages' %>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render partial: 'layouts/subdomain_navigation', locals: { type: "vehicle_finance", path: "vehicle_finances_path", new_path: "new_vehicle_finance_path", export_path: "", import_path: "import_vehicle_finances_path"} %>
      <hr/>
      <div id="vehicle_finances">
        <%= render 'vehicle_finances' %>
      </div>
    </div>
  </div>
</div>
