<div class="container body">
  <div class="main_container">
    <%= render 'layouts/sidebaradmin' %>
    <%= render 'layouts/topnav_admin' %>
    <div class="right_col" role="main" style="min-height: 1575px;">
      <div id="layout-messages">
        <%= render 'layouts/messages' %>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
           <%= render partial: 'layouts/maindomain_navigation', locals: { type: "tower", path: "towers_path", new_path: "new_towers_path",
                export_path: "export_towers_path", import_path: "import_towers_path"} %>
              <hr/>
          <br/>
          <div id="towers">
            <%= render 'towers' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footersubdomain' %>
  </div>
</div>
