<div id="list_histories">
  <div class="ui segment">
    <div class="text-center">
      <%= link_to "Xem thêm chi tiết tại đây", ground_histories_path %>
    </div>
    <table class="ui celled striped table">
      <thead>
        <tr><th colspan="2">
          Lịch sử đổi chủ hộ
        </th>
      </tr></thead>
      <tbody>
      <% @groundhistory.each do |history| %>
        <tr>
          <td><%= history.id %></td>
          <td>Chủ hộ <%= history.citizen_name %> đến <%= history.ground_name %> vào ngày <%= history.come_date.strftime("%d/%m/%Y") %>
            <% if history.end_date.present? %>
              rời đi vào ngày <%= history.end_date.strftime("%d/%m/%Y") %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div id="history_pagination">
      <%= will_paginate @groundhistory %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).on("click","#history_pagination .pagination a", function() {
      subStr = this.href.split('page=')
      $.getScript('/setground.js?page=' + subStr[1]);
      return false;
    });
  </script>
</div>
