<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my site</title>
  <meta charset='utf-8' />
  <%= stylesheet_link_tag wicked_pdf_asset_base64("bootstrap-sass-official")  %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3 class="text-center">CÔNG HÒA XÃ HỘI CHỦ NGHĨA VIÊT NAM</h3>
          <h6 class="text-center" style="text-decoration: underline;">Độc lập - Tự do - Hạnh phúc</h6>
        </div>
        <div class="text-center">
          <h1>BÁO CÁO CÔNG NỢ TÒA NHÀ <%= @building.name %></h1>
          <h3>Từ ngày <%= @started_time_report %> đến ngày <%= @end_time_report %></h3>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Tổng quan</div>
      <div class="panel-body">
        <h5 class="ui header">Tổng nợ tích lũy: <%= number_to_vnd(@debt) %>  </h3>
        <h5 class="ui header">Tổng tiền đã thanh toán: <%= number_to_vnd(@paid) %>  </h3>
        <h5 class="ui header">Tổng chí phí phát sinh trong tháng: <%= number_to_vnd(@fee) %>  </h3>

      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Công nợ nước của tòa nhà</div>
      <div class="panel-body">
        <h5 class="ui header">Nợ nước tích lũy: <%= number_to_vnd(@debt_water) %>  </h3>
        <h5 class="ui header">Tiền nước đã thanh toán: <%= number_to_vnd(@paid_water) %>  </h3>
        <h5 class="ui header">Chi phí tiền nước phát sinh trong tháng: <%= number_to_vnd(@fee_water) %>  </h3>

      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Công nợ chí phí chung của tòa nhà</div>
      <div class="panel-body">
        <h5 class="ui header">Nợ chi phí công cộng tích lũy: <%= number_to_vnd(@debt_service) %>  </h3>
        <h5 class="ui header">Chi phí chung đã thanh toán: <%= number_to_vnd(@paid_service) %>  </h3>
        <h5 class="ui header">Chi phí chung phát sinh trong tháng: <%= number_to_vnd(@fee_service) %>  </h3>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Công nợ giữ xe của tòa nhà</div>
      <div class="panel-body">
        <h5 class="ui header">Nợ giữ xe tích lũy: <%= number_to_vnd(@debt_vehicle) %>  </h3>
        <h5 class="ui header">Tiền giữ xe đã thanh toán: <%= number_to_vnd(@paid_vehicle) %>  </h3>
        <h5 class="ui header">Chi phí giữ xe phát sinh trong tháng: <%= number_to_vnd(@fee_vehicle) %>  </h3>
      </div>
    </div>
  </div>
</body>
</html>
