  <ul class="nav nav-pills">
    <li role="presentation" id="dashboard_tab"><a class="item" href="<%= dashboard_index_path %>" ><i class="dashboard icon"></i>Tổng quan</a></li>
    <li role="presentation" id="payment_tab" ><a class="item" href="<%= payment_index_path %>" ><i class="dollar icon"></i>Thanh toán</a></li>
    <li role="presentation" id="setbuilding_tab"><a class="item" href="<%= setbuilding_index_path %>" ><i class="building outline icon"></i>Tòa nhà</a></li>
    <li role="presentation" id ="setground_tab"><a class="item" href="<%= setground_index_path %>" ><i class="block layout icon"></i>Mặt bằng</a></li>
    <li role="presentation" id ="setcitizen_tab"><a class="item" href="<%= setcitizen_index_path %>" ><i class="users icon"></i>Cư dân</a></li>
    <li role="presentation" id="setcard_tab"><a class="item" href="<%= setcard_index_path %>" ><i class="car icon"></i>Thẻ xe</a></li>
    <li role="presentation" id="posts_tab"><a class="item" href="<%= posts_path %>" ><i class="alarm outline icon"></i>Thông báo</a></li>
    <li role="presentation" id="setfacility_tab"><a class="item" href="<%= facilities_path %>" ><i class="cubes icon"></i>Tài sản</a></li>
    <li role="presentation" id="setting_tab"><a class="item" href="<%= setting_index_path %>" ><i class="settings icon"></i>Cài đặt</a></li>
  </ul>
  <br>
