<div class="sidebar" data-color="blue" data-image="london.jpg">
  <div class="sidebar-wrapper">
    <div class="logo"><a class="simple-text" href="/">Quản Lý<br>Chung Cư</a></div>
    <ul class="nav">
      <li ><a class="simple-text" href="<%= grounds_path %>" ><i class="home icon"></i>Mặt bằng</a></li>
      <li ><a class="simple-text" href="<%= buildings_path %>" ><i class="building outline icon"></i>Tòa nhà</a></li>
      <li ><a class="simple-text" href="<%= citizens_path %>" ><i class="user icon"></i>Cư dân</a></li>
      <li ><a class="simple-text" href="<%= citizen_cards_path %>" ><i class="credit card alternative icon"></i>Thẻ cư dân</a></li>
      <li ><a class="simple-text" href="<%= facilities_path %>" ><i class="cubes icon"></i>Tài sản</a></li>
      <li ><a class="simple-text" href="<%= vehicle_cards_path %>" ><i class="car icon"></i>Thẻ xe</a></li>
      <li ><a class="simple-text" href="<%= vehicle_finances_path %>" ><i class="credit card alternative icon icon"></i>Phí xe</a></li>
      <li ><a class="simple-text" href="<%= services_path %>" ><i class="money icon"></i>Phí chung</a></li>
      <li ><a class="simple-text" href="<%= waters_path %>" ><i class="theme icon"></i>Phí nước</a></li>
      <li ><a class="simple-text" href="<%= ground_histories_path %>" ><i class="history icon"></i>Lịch sử đổi chủ hộ</a></li>
      <li ><a class="simple-text" href="<%= histories_path %>" ><i class="history icon"></i>Lịch sử</a></li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>
